<h2>Main Webservice Page</h2>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <p>My Rails web app has a local component, "My People"  and a remote Webserivce Component "Your People".</p>

        <p>People Pages</p>

        <a href="http://localhost:3000/bosses">My People - Local</a>
        <p><a href="http://localhost:3000/people">Your People - Remote</a></p>

      </tr>

  </tbody>
</table>
