<%= form_for(@boss) do |f| %>
  <% if @boss.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boss.errors.count, "error") %> prohibited this boss from being saved:</h2>

      <ul>
      <% @boss.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
