<p id="notice"><%= notice %></p>

<h1>List Bosses names from local machine.</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bosses.each do |boss| %>
      <tr>
        <td><%= boss.name %></td>
        <td><%= link_to 'Show', boss %></td>
        <td><%= link_to 'Edit', edit_boss_path(boss) %></td>
        <td><%= link_to 'Destroy', boss, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Boss', new_boss_path %>
