<!DOCTYPE html>
<html>
<head>
  <title>Webservice Homework</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Gregory Hambrick's Webservice homework app", root_path %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">

</div>

<%= yield %>

</body>
</html>
